body{
    background-color:grey;
}
hr{
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-width: 8px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-style: dotted;
    border-color: grey;
    width: 100px;
}

.header{
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: transparent
}

.header-section1{
    display: inline-block;
    width: 49%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    position: relative;
    background-color: white;
    border-radius: 15px;
}
.name{
    position: relative;
}
.header-section2{
    display: inline-block;
    width:49%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: right;
    position: relative;
    left: 16px;
    background-color: white;
    border-radius: 15px;
}

.tabs{
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color:transparent;
    height: 30px;
}
.tabs-section1{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color:white;
    position: absolute;
    left: 500px;
    padding: 5px;
    border-radius: 5px;
}
.tabs-section2{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color:white;
    position: absolute;
    left: 600px;
    padding: 5px;
    border-radius: 5px;
}
.tabs-section3{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color:white;
    position: absolute;
    left: 725px;
    padding: 5px;
    border-radius: 5px;
}


.introduction{
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color:transparent;
    height: 80px;
}
.introduction-section1{
    display: inline-block;
    width: 79%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    position: relative;
    background-color: white;
    border-radius: 15px;
}
.introduction-section2{
    display: inline-block;
    width: 19%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    position: relative;
    background-color: white;
    border-radius: 15px;
}

.skills-tab{
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color:transparent;
    height: 80px;
}
.customer-tab{
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color:transparent;
    height: 80px;
}
.certification-tab{
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color:transparent;
    height: 80px;
}
.footer{
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color:transparent;
    height: 80px;
}

